@font-face {
    font-family: 'Aquire';
    src: url('font/Aquire.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Aquire, sans-serif;
}
body,.snake {
    background-color: #4d4c4c;
}
#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(23, 23px);
    margin: 5px;
}
.game-border-1 {
    border: 10px solid #2b947e;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #2b947e;
}
.game-border-2 {
    border: 8px solid #2b947e;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #2b947e;
}
.game-border-3 {
    border: 20px solid #2b947e;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #2b947e;
}
#instruction{
    left: 55%;
    text-align: right;
    text-transform: capitalize;
    padding: 30px;
    margin-bottom: 40%;
    margin-left:50px;
}
.scores{
    display: flex;
    justify-content: space-between;
}
#score,
#highscore{
    color: #0c8a69;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}
.game-border-3,
#logo
{
    background-color: #043d2c;
}
.snake {
    background-image: url('snakeSkin2.png');
    background-size: cover;
}
.food {
    background-color: #ee0000;
    border: #000000 5px solid;
}
#logo {
    position: absolute;
    margin-right: 40%;
    margin-top: 5%;
}