body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8e8e8; 
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-banner, #right-banner {
    width: 150px;
    height: 380px; /* Adjusted height to match game board including padding */
    background: linear-gradient(135deg, #ff7f50, #ff6347);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #333;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #45a049;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #6e7ff3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: transparent;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.flip img {
    display: block;
}

.card.match {
    background-color: #4CAF50;
    color: #FFF;
}
