<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game</title>
    <link rel="stylesheet" href="../css/Chess.css">
</head>
<body>
    <h1>Jeu d'échecs</h1>
    <div id="container">
        <div id="left-banner"></div>
        <div id="gameboard-container">
            <div id="gameboard"></div>
            <p>It's <span id="player"></span>'s turn </p>
            <p id="info-display"></p>
        </div>
        <div id="right-banner"></div>
    </div>
    <script src="../web/js/pieces.js"></script>
    <script src="../web/js/chess.js"></script>
</body>
</html>
