<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Menu Principal</title>
</head>
<body>
<div class="main-container">
    <div class="left-container"></div>
    <div class="mid-container">
        <nav>
            <ul>
                <li><a href="/MortalKombat">Mortal Kombat</a></li>
                <li><a href="/Morpion">Morpion</a></li>
                <li><a href="/Snake">Snake</a></li>
                <li><a href="/Memories">Memories</a></li>
                <li><a href="/Cvfc">Cvfc</a></li>
                <li><a href="/BubbleSorted">Bubble Sorted</a></li>
            </ul>
        </nav>
    </div>
    <div class="right-container"></div>
</div>

</body>
</html>
