<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Mortalkombat.css">

</head>
<body>
<div class="GlobalContainer">
    <div class="HealthBar">
        <div class="Player">
            <div  class="PlayerHealthBar"></div>
            <div id="PlayerHealth" class="GlobalPLayerHealthBar"></div>
        </div>
        <div id="Timer" class="Timer"></div>
        <div class="Enemy">
            <div  class="EnemyHealthBar"></div>
            <div id="EnemyHealth" class="GlobalEnemyHealthBar"></div>
        </div>
    </div>
    <div  id="Tie" class="Tie">Tie</div>
    <canvas></canvas>

</div>
<script src="../web/js/MortalKombat/utils.js"></script>
<script src="../web/js/MortalKombat/classes.js"></script>
<script src="../web/js/MortalKombat/script.js"></script>
</body>
</html>