@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Patua One', serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container, .right-container {
    height: 100%;
    width: 15%;
    background-color: #805d2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container:before, .right-container:before {
    content: '';
    width: 230%;
    height: 100%;
    background: linear-gradient(135deg, #ff7f50, #ff6347);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mid-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

#array {
    height: 220px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: start;
    overflow-x: auto;
}

.block {
    width: 50px;
    border-radius: 50%;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0;
    margin: 1rem;
    transition: all ease;
}

.block_id {
    position: absolute;
    color: #fff;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
    height: 15px;
    margin: 20px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #6b5b95;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6b5b95;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #888;
    border-radius: 4px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #888;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Patua One', serif;
    color: white;
    background-color: #6b5b95;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #837db1;
    transform: scale(1.05);
}

button:active {
    background-color: #554c77;
    transform: scale(0.95);
}
