@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4d4c4c;
    font-family: 'Patua One', serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container, .right-container {
    height: 100%;
    width: 15%;
    background-color: #805d2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container:before, .right-container:before {
    content: '';
    width: 230%;
    height: 100%;
    background: linear-gradient(135deg, #ff7f50, #ff6347);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mid-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 50px 0; /* Increase the margin between the list items */
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #6b5b95;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #837db1;
    transform: scale(1.1);
}
